<header>
<a href="/registrations/new"><button type="button">Log in</button></a>
</header>

<h1>Welcome to the Blog!</h1>
<p>Check out these awesome posts below.</p>
<br>
<p>If you would like to submit your own post, log in or create an account!</p>

<br>

<p id="notice"><%= notice %></p>

<h2>Posts</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %>
            <tr>
                <td><%= post.title %></td>
                <td><%= post.description %></td>
                <td><%= link_to 'Show more', post %></td>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </td>
        <% end %>
    </tbody>
</table>

<br>